.label {
  display: block;
  margin-bottom: 0.2rem;
}

.wrapper {
  position: relative;
}

.input {
  width: 400px;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.2rem;
}

.loadingSpinner {
  position: absolute;
  right: 32px;
  top: 37px;
}

.error {
  border: 1px solid red;
  padding: 20px;
}